{% extends "base.html" %}

{% block style %}

{% endblock %}

{% block content %}
<div class="header pad-sides">
  <h1>File Not Found</h1>
  <p> If you typed the address manually, check spelling.</p>
  <p><a href="{{ url_for('routes.index') }}">&#8592; Back to Home page</a></p>
</div>
{% endblock %}