{% extends "base.html" %}

{% block style %}

{% endblock %}

{% block content %}
<div class="header pad-sides">
  <h1>Oops! Something went wrong.</h1>
  <h3>Sorry for the inconvenience.</h3>
  <p>
    Please
    <a class="show-like-hover" href="mailto:admin@playlist-ify.com">email me</a>
    or
    <a class="show-like-hover" href="https://bitbucket.org/Steve-Z/spotify-project/issues">
    submit an issue</a>
    at the repository.
  </p>
  <p>
    Tell me what you were trying to do when this error occurred. Bug fixes will receive immediate attention.
  </p>
  <pre>
    &mdash; Steve
  </pre>
  <p><a href="{{ url_for('routes.index') }}">&#8592; Back to Home page</a></p>
</div>
{% endblock %}