{% extends "base.html" %}

{% block head %}{% endblock %}

{% block content %}

<div class="pad-sides header">
  <h1>Playlist<em>-ify</em></h1>
  {% if current_user.is_authenticated %}
    <div class="flex-header">
      <h4 class="flex-title">Hi {{ current_user.username }}!</h4>
      <h5>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
      </h5>
    </div>
    <button><a href="{{ url_for('routes.action') }}">Start Your Session</a></button>
  {% else %}
    <p>To start your session please&nbsp;
      <a class="show-like-hover" href="{{ url_for('auth.login') }}">Login</a> or
      <a class="show-like-hover" href="{{ url_for('auth.register') }}">Register</a>
    </p>
    <button class="disabled">Start Your Session</button>
  {% endif %}
</div>
<div class="messages pad-sides">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class="flashed-errors">{{ message }} Did you sign into Spotify?</p>
    {% endfor %}
  {% endif %}
  {% endwith %}
</div>

<div class="pad-sides content">
  <h3>What can you do here?</h3>
  <p><strong class="app-name highlight">Exchange playlists between Apple iTunes/Music and Spotify. It's fast, free, and unlimited.</strong></p>
  <p><strong class="app-name">Import</strong> Apple playlists to Spotify or <strong class="app-name">export</strong> your Spotify playlists to files than can be easily imported to Apple Music. Share playlists with friends even if they use the other streaming service.</p>
  <p>Once you start a session and log into Spotify, you will also see a snapshot of your Spotfy account and recent activity:
    <ul>
      <li>Playlists</li>
      <li>Recently played tracks</li>
      <li>Top artists</li>
      <li>Top tracks</li>
    </ul>
  </p>
  
  <p>Clicking the "Start Your Session" button will initiate the following events:
    <ol>
      <li>If you are not already signed into Spotify, a tab will open with a Spotify login page.</li>
      <li>Once logged in, you will be asked to give <span class="app-name">Playlist-ify</span> permission to perform certain tasks.</li>
      <li>Please agree to these permissions since they are needed to retrieve your Spotify profile and allow uploading of playlists.<br>(Once these first 3 steps are done they will not need to be repeated unless you logout of Spotify or revoke <span class="app-name">Playlist-ify's</span> access.)</li>
      <li>You will be redirected to a profile page showing your Spotify snapshot. Once there, you can import an Apple playlist or download a Spotify playlist.</li>
    </ol>
  </p>
  <p>A note about PRIVACY:
    <ul>
      <li><span class="app-name">Playlist-ify</span> neither asks for nor retains any of your data or private information.</li>
      <li>Registration/login are required solely to keep track of authorization credentials.
        <br>(Allowing you to access your Spotify data through the app.)</li>
      <li>We collect no data other than username and password (encrypted & unreadable by us).
      <br>(If you forget your password, we cannot reset it. Simply re-register.)
      <li>Session data dissappears when you close your browser.
      <br>(If you login with "Stay logged in" checked, it will remember you but nothing about what you were doing in your previous seession.)</li>
    </ul>
  </p>
</div>

{% endblock %}