{% extends 'base.html' %}

{% block content %}
<div class="header pad-sides">
  <h1>Please Sign In</h1>
  <p>New User?&emsp;&emsp;
    <span class="blue-link">
      <a href="{{ url_for('auth.register') }}">Click here to Register!</a>
    </span>
  </p>
  <div class="blue-link"><a href="{{ url_for('routes.index') }}">&larr; Back to Home Page</a></div>
</div>
<div class="messages pad-sides">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {% if "Success" in message %}
        <p class="flashed-success">{{ message }}</p>
      {% else %}
        <p class="flashed-errors">{{ message }}</p>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% endwith %}
</div>
<div class="pad-sides form">
    <form method="POST">
    {{ form.hidden_tag() }}
    {% if session['shared'] %}
      <p>
        {{ form.shared(checked="checked", onchange="disableEnable()", autocomplete="off") }}
         Check here if this is a {{ form.shared.label }}
      </p>
      <p class="blue-link" id="clear_spotify">
        <a href="{{ url_for('routes.logout_spotify') }}" target="_blank">
          Clear active Spotify logins(recommended)
        </a>
      </p>
      <p>
        {{ form.remember_me.label(class_="grayed", id="remember_label") }}
         {{ form.remember_me(disabled="true", id="remember") }}
      </p>
    {% else %}
      <p>
        {{ form.shared(onchange="disableEnable()", autocomplete="off") }}
         Check here if this is a {{ form.shared.label }}
      </p>
      <p class="hidden" id="clear_spotify">
        <a href="{{ url_for('routes.logout_spotify') }}" target="_blank">
          Clear Spotify login(recommended)
        </a>
      </p>
      <p>{{ form.remember_me.label(id="remember_label") }} {{ form.remember_me(id="remember") }}</p>
    {% endif %}
    <p>{{ form.username.label }} {{ form.username }}</p>
    <div class="errors">
    {% for error in form.username.errors %}
      {{ error }}
    {% endfor %}
    </div>
    <p>{{ form.password.label }} {{ form.password }}</p>
    <div class="errors">
    {% for error in form.password.errors %}
      {{ error }}
    {% endfor %}
    </div>
    <p>{{ form.submit }}</p>
  </form>
</div>
{% endblock %}

{% block script %}
<script>
  function disableEnable() {
    var remember = document.getElementById("remember");
    var label = document.getElementById("remember_label");
    var spot = document.getElementById("clear_spotify");
    if ( remember.disabled ) {
      remember.disabled = false;
      label.className = label.className.replace("grayed", "");
      spot.className = spot.className.replace("blue-link", "hidden");
    }
    else {
      remember.disabled = true;
      label.className += " grayed";
      spot.className = spot.className.replace("hidden", "blue-link");
    }
  }
</script>
{% endblock %}