{% extends "base.html" %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="playlists pad-sides" id="playlists">
  <h3>Playlists
    <button>
      <a href="{{ url_for('routes.upload') }}">Import a Playlist</a>
    </button>
  </h3>
  <div>
    <a href="/profile">&larr; Back to Snapshot Page</a> 
  </div>
  <br>
  <small class="clickable blue-link" id="show_hide" onclick="showHideDownloads()">
    Enable playlist downloads +
  </small>
  <h5 class="hidden" id="dl_instruction">
    Click <span class="dl-icon">&darr;</span> to download as a CSV file
    <i class="material-icons csv-info clickable" onclick="showModal('info1')">info_outline</i>
    <div class="modal hidden" id="info1" onclick="closeModal(this)">
      <ul>
        <li>View as a spreadsheet</li>
        <li>Share with other Spotify users (who can import it with Playlist-ify)</li>
        <li>Share with iTunes/Music users (who can import it if the songs are in their library)</li>
      </ul>
    </div>
  </h5>
  {% for playlist in playlists %}
  {% with name = playlist.name, id = playlist.id, length = playlist.tracks.total %}
  <p>
    <a href="{{ playlist.external_urls.spotify }}" target="_blank">{{ name }}</a>
    <a class="dl-icon hidden"
      href="{{ url_for('routes.download', id=id, name=name, length=length) }}" target="_blank">
      &darr;
    </a>
  </p>
  {% endwith %}
  {% endfor %}
</div>
{% endblock %}

{% block script %}
<script>

  function showHideDownloads() {
    var playlists = document.getElementById("playlists");
    var instruction = document.getElementById("dl_instruction");
    var toggle = document.getElementById("show_hide");
    
    if ( instruction.className.indexOf("hidden") == -1 ) {
      var downloads = playlists.getElementsByClassName("dl-icon float-right");
      instruction.className += "hidden";
      toggle.innerHTML = "Enable playlist downloads +";
      while (downloads.length > 0) {
        downloads[0].classList.add("hidden");
        downloads[0].classList.remove("float-right");
      }
    }
    else {
      var downloads = playlists.getElementsByClassName("dl-icon hidden");
      instruction.className = instruction.className.replace("hidden", "");
      toggle.innerHTML = "Disable playlist downloads &mdash;";
      while (downloads.length >= 0) {
        downloads[0].classList.add("float-right");
        downloads[0].classList.remove("hidden");
      }
    }
  }

  function showModal(id) {
    var modal = document.getElementById(id);
    if (modal.className.indexOf("hidden") != -1) {
      modal.className = modal.className.replace("hidden", "");
    }
    else {
      closeModal(modal);
    }
  }

  function closeModal(element) {
    element.className += " hidden";
  }

</script>
{% endblock %}
