{% extends "base.html" %}
 
{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="header sticky-header" id="header">
  <div class="pad-sides flex-container">
    <h2>Snapshot of {{ session.user.display_name }}'s Spotify Music</h2>
    <h5>
      <a href="{{ session.user.external_urls.spotify }}" target="_blank">
          Your Spotify Web Player
      </a>
    <br>
    {% if not session['shared'] %}
      <a href="{{ url_for('auth.logout') }}">Logout from Playlist-ify</a>
    <br>
      <a href="{{ url_for('routes.logout_spotify') }}" target="_blank">Logout from Spotify</a>
    <br>
      <a href="{{ url_for('routes.download', backup=True) }}" onclick="showModal('backup')">Backup My Liked Songs</a>
      <div class="modal hidden clickable" id="backup" onclick="closeModal(this)">
        <i class="material-icons">close</i> Processing your download...
      </div>
    {% else %}
      <a href="{{ url_for('auth.logout') }}">Logout from Playlist-ify & Spotify</a>
    {% endif %}
    </h5>
  </div>
  <br>
  <div>
    <nav>
      <div class="flex-container">
        <a class="nav-link" href="#playlists" onclick=moveHeader()>Playlists</a>
        <a class="nav-link" href="#recent" onclick=moveHeader()>Recently Played</a>
        <a class="nav-link" href="#top-artists" onclick=moveHeader()>Top Artists</a>
        <a class="nav-link" href="#top-tracks" onclick=moveHeader()>Top Tracks</a>
      </div>
    </nav>
  </div>
</div>
<div class="messages pad-sides">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {% if "Success" in message %}
        <p class="flashed-success">{{ message }}</p>
      {% else %}
        <p class="flashed-errors">{{ message }}</p>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% endwith %}
</div>
<div class="missing-tracks pad-sides">
{% if missing and missing|length > 0 %}
  <h4>Here is what we couldn't find...</h4>
  {% for playlist in missing %}
    <p>{{ playlist.playlist_name }}:</p>
    {% for track in playlist.tracks %}
      <p class="missing-song">{{ track }}</p>
    {% endfor %}
  {% endfor %}
  <div class="retry">
      <h4>Try searching with just the song and artist?</h4>
      <button><a href="{{ url_for('routes.retry') }}">Try it</a></button>
  </div>
{% endif %}
{% if retry_missing and retry_missing|length > 0 %}
  <h4>Here is what we couldn't find...</h4>
  {% for playlist in retry_missing %}
    <p>{{ playlist.playlist_name }}:</p>
    {% for track in playlist.tracks %}
      <p class="missing-song">{{ track }}</p>
    {% endfor %}
  {% endfor %}
  <p>Check spelling. You can also add these manually. Click the playlist below to go to Spotify.</p>
{% endif %}
</div>
<div class="playlists pad-sides" id="playlists">
  <h3>Playlists
    <button>
      <a href="{{ url_for('routes.upload') }}">Import a Playlist</a>
    </button>
  </h3>
  <small class="clickable blue-link" id="show_hide" onclick="showHideDownloads()">
    Enable playlist downloads +
  </small>
  <h5 class="hidden" id="dl_instruction">
    Click <span class="dl-icon">&darr;</span> to download as a CSV file
    <i class="material-icons csv-info clickable" onclick="showModal('info1')">info_outline</i>
    <div class="modal hidden" id="info1" onclick="closeModal(this)">
      <ul>
        <li>View as a spreadsheet</li>
        <li>Share with other Spotify users (who can import it with Playlist-ify)</li>
        <li>Share with iTunes/Music users (who can import it if the songs are in their library)</li>
      </ul>
    </div>
  </h5>
  {% for playlist in playlists %}
  {% with name = playlist.name, id = playlist.id, length = playlist.tracks.total %}
  <p>
    <a href="{{ playlist.external_urls.spotify }}" target="_blank">{{ name }}</a>
    <a class="dl-icon hidden"
      href="{{ url_for('routes.download', id=id, name=name, length=length) }}">
      &darr;
    </a>
  </p>
  {% endwith %}
  {% endfor %}
  <p>
    <small class="blue-link">
      <a href="{{ url_for('routes.playlists') }}">
        See all my playlists &rarr;
      </a>
    </small>
  </p>
</div>
<div class="recent-plays pad-sides" id="recent">
  <h3>Recently played songs</h3>
  {% for item in history %}
  {% with artists = item['track']['album']['artists'] %} 
  {% with names = list_extractor(artists, 'name') %}
    <p>
    {{ item.track.name }} | {{ item.track.album.name }} | {{ names | join(', ') }}
    </p>
  {% endwith %}
  {% endwith %}
  {% endfor %}
</div>
<div class="top-artists pad-sides" id="top-artists">
  <h3>Top Artists</h3>
  {% for artist in top_artists %}
    <p><a href="{{ artist.external_urls.spotify }}" target="_blank">{{ artist.name }}</a></p>
  {% endfor %}
</div>
<div class="top-tracks pad-sides" id="top-tracks">
  <h3>Top Tracks</h3>
  {% for track in top_tracks %}
    <p><a href="{{ track.external_urls.spotify }}" target="_blank">{{ track.name }}</a></p>
  {% endfor %}
</div>
{% endblock %}

{% block script %}
<script>
  function moveHeader() {
    var header = document.getElementById("header");
    if (header.className.indexOf("sticky-header") != -1) {
      header.className = header.className.replace("sticky-header", "");
      setTimeout(function() {
        document.addEventListener("scroll", stickHeader);
      }, 4000);
    }
  }

  function stickHeader() {
    var header = document.getElementById("header");
    if (header.className.indexOf("sticky-header") == -1) {
      header.className += "sticky-header";
      document.removeEventListener("scroll", stickHeader);
    }
  }

  function showHideDownloads() {
    var playlists = document.getElementById("playlists");
    var instruction = document.getElementById("dl_instruction");
    var toggle = document.getElementById("show_hide");
    
    if ( instruction.className.indexOf("hidden") == -1 ) {
      var downloads = playlists.getElementsByClassName("dl-icon float-right");
      instruction.className += "hidden";
      toggle.innerHTML = "Enable playlist downloads +";
      while (downloads.length > 0) {
        downloads[0].classList.add("hidden");
        downloads[0].classList.remove("float-right");
      }
    }
    else {
      var downloads = playlists.getElementsByClassName("dl-icon hidden");
      instruction.className = instruction.className.replace("hidden", "");
      toggle.innerHTML = "Disable playlist downloads &mdash;";
      while (downloads.length >= 0) {
        downloads[0].classList.add("float-right");
        downloads[0].classList.remove("hidden");
      }
    }
  }

  function showModal(id) {
    var modal = document.getElementById(id);
    if (modal.className.indexOf("hidden") != -1) {
      modal.className = modal.className.replace("hidden", "");
    }
    else {
      closeModal(modal);
    }
  }

  function closeModal(element) {
    element.className += " hidden";
  }

</script>
{% endblock %}
