{% extends 'base.html' %}

{% block content %}
<div class="header pad-sides">
  <h1>Please Register</h1>
  <div class="blue-link"><a href="{{ url_for('routes.index') }}">&larr; Back to Home Page</a></div>
</div>
<div class="messages pad-sides">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class="flashed-errors">{{ message }}</p>
    {% endfor %}
  {% endif %}
  {% endwith %}
</div>
<div class="pad-sides form">
  <form method="POST">
    {{ form.hidden_tag() }}
    <p>
      {{ form.username.label }} {{ form.username }}
      <div class="errors">
      {% for error in form.username.errors %}
        {{ error }}
      {% endfor %}
      </div>
    </p>
    <p>
      {{ form.password.label }} {{ form.password }}
      <div class="errors">
      {% for error in form.password.errors %}
        {{ form.password.label }}{{ error[5:] }}
      {% endfor %}
      </div>
    </p>
    <p>
      {{ form.password2.label }} {{ form.password2 }}
      <div class="errors">
      {% for error in form.password2.errors %}
        {{ form.password2.label }}{{ error[5:] }}
      {% endfor %}
      </div>
    </p>
    <p>{{ form.submit }}</p>
  </form>
</div>
{% endblock %}