{% extends "base.html" %}

{% block content %}
<div class="header pad-sides">
  <div class="flex-header">
    <div class="flex-title">
      <h2>Upload a Playlist to {{ session.user.display_name }}'s Spotify Account</h2>
    </div>
    <div class="flex-right">
      <h5>
        <a href="{{ session.user.external_urls.spotify }}" target="_blank">
          Your Spotify Web Player
        </a>
      </h5>
    </div>
  </div>
  <div>
    <a href="{{ url_for('routes.profile') }}">&larr; Back to Snapshot Page</a>
    {% for error in form.upload.errors %}
      <p class="errors">
        {{ error }}&emsp;&emsp;
        <a href="#upload-form">Try again &darr;</a>
      </p>
    {% endfor %}
  </div>
</div>
<div class="instr-title pad-sides">
  <h3>
    Instructions: How to export a playlist from Apple iTunes/Music and upload it to Spotify
  </h3>
  <small><a href="#upload-form" onclick="highlight()">Skip Instructions</a></small>
</div>
<div class="instructions-1">
  <p><span class="instr-num">1</span></p>
  <p>Select a playlist from the iTunes/Music sidebar</p><br><br>
  <img src="{{ url_for('static', filename='images/select_playlist.png') }}" alt="Select playlist">
</div>
<div class="instructions-2">
  <p><span class="instr-num">2</span></p>
  <p>From iTunes/Music menu select:<br>File > Library > Export playlist</p><br>
  <img src="{{ url_for('static', filename='images/menu.png') }}" alt="File > Library > Export playsist">
</div>
<div class="instructions-3">
  <p><span class="instr-num">3</span></p>
  <p>A "Save As..." window will pop up.<br>Select location, e.g., Downloads or Desktop,<br>
    and file format, either "Plain Text" or "XML" <sup>*</sup></p>
  <img src="{{ url_for('static', filename='images/file_type.png') }}" alt="Select export file type">
</div>
<div class="instructions-4" id="upload-form">
  <p><span class="instr-num">4</span></p>
  {% for error in form.upload.errors %}
    <p class="errors">{{ error }}</p>
  {% endfor %}
  <p><span id="last-instruction" class="nl-line-height">
    Use the "Browse" button below to find your playlist.</span>
  </p>
  <p class="nl-line-height">
    <em>Playlists of 500 songs or less with artist and album data for every track work best.</em>
  </p>
  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.upload.label }}
    <br>{{ form.upload }}
    <br><br>{{ form.submit(onclick="showLoader()") }}
  </form>
  <h5 id="line1"></h5>
  <h5 id="line2"></h5>
  <h5 id="line3"></h5>
  <h5 id="line4"></h5>
  <div class="loader hidden">
    <i class="L"></i><i class="L"></i><i class="L"></i><i class="L"></i><i class="L"></i>
    <i class="L"></i><i class="L"></i><i class="L"></i><i class="L"></i>
  </div>
</div>
<div class="instructions-5">
  <p>
    <sup>*</sup> "Plain text" or "XML" both work well; plain text is more human-readable.
  </p>
</div>
{% endblock %}

{% block script %}
<script>
  function showLoader() {
    var loader = document.getElementsByClassName("loader")[0];
    var lines = [
      'Finding your songs in the Spotify Library...',
      'Making a list of missing tracks...',
      'Creating your new playlist and adding tracks...',
      'This could take a minute. Thanks for waiting :-)'
    ];
    var line1 = document.getElementById("line1");
    var line2 = document.getElementById("line2");
    var line3 = document.getElementById("line3");
    var line4 = document.getElementById("line4");
    if (loader.className.indexOf("hidden") != -1) {
      loader.className = loader.className.replace("hidden", "");
      line1.innerHTML = lines[0];
    }
    setTimeout(function() {
        line2.innerHTML = lines[1];
      }, 6000);
    setTimeout(function() {
        line3.innerHTML = lines[2];
      }, 12000);
    setTimeout(function() {
        line4.innerHTML = lines[3];
      }, 18000);
  }

  function highlight() {
    document.getElementById("last-instruction").className = "highlight";
  }
</script>
{% endblock %}
