/***********
 * Overall *
 ***********/
/* Triadic color scheme https://www.w3schools.com/colors/colors_triadic.asp */
* {box-sizing: border-box;}
body, html {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, pre {
    font-family: 'IBM Plex Mono', monospace;
}
/* body, html {
    height: 100%;
} */
a {
    text-decoration: none;
}
/* a:hover MUST come after a:link and a:visited */
/* a:active MUST come after a:hover */
a:link, a:visited {
    color: inherit;
}
a:hover, a.show-like-hover {
    color: #4424D6;
    border-bottom: solid 3px #4424D6;
}
a:hover.nav-link {
    border-bottom: none;
}
a:active {
    color: inherit;
}
button, input#submit {
    font-size: 1em;
    font-family: 'IBM Plex Sans', sans-serif;
    border: 2px solid black;
    background-color: transparent;
}
button:hover, input#submit:hover {
    background-color: #B2D732;
}
button a:hover {
    background-color: transparent;
    color: inherit;
    border: none;
}
button.disabled {
    background-color: lightgray;
}
div#upload-form {
    line-height: 2;
}
footer {
    background-color: #B2D732;
    color: #110934;
    padding: 0.5rem 1rem;
}
footer a {
    text-decoration: underline;
}
footer a:hover {
    border: none;
}
form input#upload {
    font-size: 1rem;
}
h1 > em {
    font-style: italic;
    font-family: Courier, monospace;
}
h5[id^="line"] {
    color: #110934;
    line-height: 0;
}
nav {
    font-size: 1.1em;
    background-color: #B2D732;
    padding: 0.5rem 0;
}
.app-name {
    font-family: 'IBM Plex Mono';
    font-weight: 600;
    font-style: italic;
}
.blue-link {
    color: #4424D6;
}
.clickable {
    cursor: pointer;
}
.content {
    grid-column: 1 / -1;
}
a.dl-icon, .dl-icon {
    color: #7b7b7f !important;
    font-weight: 700 !important;
    border-bottom: solid 3px #7b7b7f;
}
a.dl-icon:hover {
    color: #4424D6 !important;
    font-weight: 700 !important;
    border-bottom: solid 3px #4424D6;
}
.errors {
    color: red;
    /* font-weight: 700; */
}
.errors a {
    color: #4424D6;
    border-bottom: solid 3px #4424D6;
    font-weight: 400;
}
.flashed-errors {
    color: red;
}
.flashed-success {
    color: green;
}
.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}
.flex-footer {
    display: flex;
    flex-wrap: wrap;
}
.flex-header {
    display: flex;
    flex-wrap: nowrap;
}
@media (max-width: 1103px) {
    .flex-header {
        flex-wrap: wrap;
    }
}
.flex-main {
    flex: 1 0 90%;
}
.flex-title {
    flex: 1 0 80%;
}
.flex-right {
    align-self: center;
}
.float-right {
    float: right;
}
.fluid-type {
    font-size: 0.75rem;
}
@media (min-width: 750px) { /* and (min-height: 500px) { */
    .fluid-type {
        font-size: calc(13.5px + 4.5 * (100vw - 750px) / 274);
    }
}
@media (min-width: 1024px) { /*, (min-height: 1300px) { */
    .fluid-type {
        font-size: 1rem;
    }
}
.form {
    grid-column: 2 / 6;
}
.footer {
    grid-column: 1 / -1;
}
.grayed {
    color: lightgray;
}
.grid-container {
    display: grid;
    column-gap: 1em;
    /* row-gap: 1em; */
    grid-template-columns: repeat(9, 1fr);
    /* grid-template-rows: auto; */
}
.header {
    background-color: #fff;
    grid-column: 1 / -1;
    padding: 1rem 0;
}
.hidden {
    display: none;
}
.highlight {
    background-color: #c7fd0c; /* Tone of #B2D732 */
    color: #110934;
    padding: 2px 4px;
}
.instr-title {
    grid-column: 1 / -1;
}
.instr-num {
    border: solid 2px #000;
    padding: 0 8px;
}
div[class^="instructions-"] {
    padding: 1rem 0 2rem 0;
    justify-self: center;
}
.instructions-1 {
    grid-column: 1 / 4;
}
.instructions-2 {
    grid-column: 4 / 7;
}
.instructions-3 {
    grid-column: 1 / 4;
    grid-row: 4 / 6;
}
.instructions-4 {
    grid-column: 4 / 7;
    grid-row: 4 / 5;
}
.instructions-5 {
    grid-column: 4 / 7;
    grid-row: 5 / 6;
    align-self: end;
}
.loader {
    float: left;
}
.material-icons {
    vertical-align: text-top;
}
.material-icons.csv-info {
    color: #4424D6;
    font-size: 1.1rem;
}
.messages {
    grid-column: 1 / -1;
}
.missing-song {
    position: relative;
    left: 1rem;
}
.missing-tracks {
    grid-column: 1 / 6;
}
.modal {
    color: #fff;
    background-color: #110934;
    border: solid 1px #110934;
    border-radius: 8px;
    opacity: 0.8;
    font-size: small;
    padding-right: 0.75em;
}
.nav-link {
    padding: 0 2em;
}
.nl-line-height {
    line-height: 1.5em;
}
.playlists {
    grid-column: 1 / 4;
}
.pad-sides {
    padding-right: 2rem;
    padding-left: 2rem;
}
.recent-plays {
    grid-column: 4 / 10;
}
.retry {
    grid-column: 1 / 6;
}
.sticky-header {
    top: 0;
    position: sticky;
    z-index: 1;
}
.top-artists {
    grid-column: 1 / 4;
}
.top-tracks {
    grid-column: 4 / 10;
}
@media (max-width: 1023px) {
    div[class^="instructions-"], .messages, .missing-tracks, .playlists, .recent-plays, .retry, .top-artists, .top-tracks {
        grid-column: 1 / -1;
        grid-row: auto;
    }
}

/** Domino Loader **/
/** From https://codepen.io/agrimsrud/pen/vtmoq **/
i.L {
    position: relative;
    display: inline-block;
    margin: 0 4px;
    width: 0.333rem;
    height: 1rem;
    border-radius: 2px;
    border: solid #B2D732;
    border-width: 0 1px 1px 0;
    background: #B2D732;
    animation: tilt infinite 6s cubic-bezier(0.955, -0.010, 1.000, 1.000);
    transform-origin: 100% 100%;
}

i.L::before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    display: block;
    width: 5px;
    height: 5px;
    background: transparent;
    box-shadow: 0 2px rgba(0,0,0,.3);
    animation: stretch infinite 6s cubic-bezier(0.955, -0.010, 1.000, 1.000);
    opacity: 0;
    transform-origin: 0% 0%;
}

i.L:nth-child(2), i.L:nth-child(2)::before {
    animation-delay: .2s;
}

i.L:nth-child(3), i.L:nth-child(3)::before {
    animation-delay: .4s;
}

i.L:nth-child(4), i.L:nth-child(4)::before {
    animation-delay: .6s;
}

i.L:nth-child(5), i.L:nth-child(5)::before {
    animation-delay: .8s;
}

i.L:nth-child(6), i.L:nth-child(6)::before {
    animation-delay: 1s;
}

i.L:nth-child(7), i.L:nth-child(7)::before {
    animation-delay: 1.2s;
}

i.L:nth-child(8), i.L:nth-child(8)::before {
    animation-delay: 1.4s;
}

i.L:nth-child(9), i.L:nth-child(9)::before {
    animation-delay: 1.6s;
}

i.L:last-of-type {
    animation-name: tilt-last;
}

i.L:last-of-type::before {
    animation-name: stretch-last;
}

@keyframes tilt {
    10% { transform: rotate(70deg) }
    60% { transform: rotate(70deg) }
    70% { transform: rotate( 0deg) }
}

@keyframes tilt-last {
    10% { transform: rotate(90deg) }
    60% { transform: rotate(90deg) }
    70% { transform: rotate( 0deg) }
}

@keyframes stretch {
    10% { transform: rotate(-70deg); width: 10px; opacity: 1; left: 0px; bottom: -1px; }
    60% { transform: rotate(-70deg); width: 10px; opacity: 1; }
    70% { width: 5px; transform: rotate(0deg); opacity: 0; }
}

@keyframes stretch-last {
    10% { transform: rotate(-90deg); width: 10px; height: 2px; opacity: .5; left: 3px; bottom: -1px; }
    60% { transform: rotate(-90deg); width: 10px; height: 2px; opacity: .5; }
    70% { transform: rotate(0deg); width: 5px; height: 5px;opacity: 0;}
}
